@page "/"

<AuthorizeView>
    <Authorized>
        <p>To be implemented...</p>
    </Authorized>
    <NotAuthorized>
        <MudButton OnClick="StartLogin">Login</MudButton>
    </NotAuthorized>
</AuthorizeView>