
 
@switch (Mode)
{
    case ConferenceDetailsMode.Show:
        <h3>Conference Details</h3>
        break;

    case ConferenceDetailsMode.New:
        <h3>New Conference</h3>
        break;

    case ConferenceDetailsMode.Edit:
        <h3>Edit Conference</h3>
        break;
}

