@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Web

<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.body1" Color="Color.Default">Hello, @context.User.Identity.Name!</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="BeginSignOut"></MudIconButton>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


